{% load static %}

{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dokument</title>
    <link rel="stylesheet" href="{% static 'jokesapp/style.css' %}">
</head>

<body>

    <section class="form">
        <!-- all-jokes-url = toto je název pro url který jsme si vytvořili v urls.py -->
        <a href="{% url 'all-jokes-url' %}">Všechny vtipy</a>

        <h1>Formulář</h1>

        <form method="POST" action="/">
            <!-- Toto je csrt token pro zabezpeceni -->
            {% csrf_token %}

            <!-- Vypsání jednotlivých inputu ve formulari pomoci cyklu for -->
            {% for one_field in jokeForm %}
                <div class="form-inputs {% if one_field.user_name.errors %}errors{% endif %}">
                    {{ one_field.errors }}
                    {{ one_field }}
                </div>
            {% endfor %}

            <button type="submit">Odeslat</button>

        </form>

    </section>



</body>

</html>