{% load static %}

{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dokument</title>
    <link rel="stylesheet" href="{% static 'jokesapp/style.css' %}">
</head>

<body>

    <section class="form">
        <h1>Formulář</h1>

        <form method="POST" action="/">
            <!--    Toto je csrt token pro zabezpeceni-->
            {% csrf_token %}

            <!--    Vložení formulare, který řešíme ve views.py-->
            <div class="form-inputs {% if jokeForm.user_name.errors %}errors{% endif %}">
                {{ jokeForm.user_name.errors }}
                {{ jokeForm.user_name }}
            </div>

            <!--    Vložení formulare, který řešíme ve views.py-->
            <div class="form-inputs {% if jokeForm.user_name.errors %}errors{% endif %}">
                {{ jokeForm.joke_text.errors }}
                {{ jokeForm.joke_text }}
            </div>

            <!--    Vložení formulare, který řešíme ve views.py-->
            <div class="form-inputs {% if jokeForm.user_name.errors %}errors{% endif %}">
                {{ jokeForm.rating.errors }}
                {{ jokeForm.rating }}
            </div>

            <button type="submit">Odeslat</button>

        </form>

    </section>



</body>

</html>