* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
}

.thanks {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.thanks h1 {
    margin-bottom: 20px;
}

.thanks a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 25px;
    background-color: #ff0000;
    padding: 5px 10px;
    border-radius: 5px;
}

.thanks a:hover {
    cursor: pointer;
    background-color: #b06565;
}